{
    "local": {
        "HOST": "localhost",
        "PROTOCOL" : "http",
        "LOG_PATH": "logs/",
        "PORT": 3000,
        "DB": {
                "user": "user",
                "host": "host",
                "database": "database",
                "password": "password",
                "dialect": "postgres",
                "port": "port"
        },
        "ADMIN_CRED" : {
            "username" : "username",
            "algorithm": "algorithm",
            "password" : "password",
            "token" : "token",
            "email": "email@email.com",
            "email_password": "P@$$w0rd"
        }
    }
}
